/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow: hidden;
}
html, 
body {
  width: 100%;
  height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
	font-family: 'Daeojamjil';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2') format('woff2');
	font-weight: 100;
	font-display: swap;
}

@font-face {
  font-family: 'SchoolSafetyRoundedSmile';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe24Surround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Waguri';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

#wrap {
  width: 1280px;
  height: 720px;
  position: relative;
  overflow: hidden;
  transform-origin: 0% 0%;
}

[class*="container"] {
  position: absolute; 
  top: 0; 
  left: 0; 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 100%;
  display: none;
}

[class*="container"].show {
  display: flex;
}


[class*="inner"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}


/* 게임 방법 */
.howto-inner {
  width: 1232px;
  height: 617px;
  background: url(../public/images/miner_description_bg.png) no-repeat center / contain;
  color: #fff;
  font-family: 'Cafe24Surround';
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.howto-top {
  display: flex;
  gap: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  
}

.howto-top img {
  width: 648px;
}

.howto-image {
  width: 72%;
  border-radius: 1rem;
  overflow: hidden;
}


.howto-bottom {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  font-family: 'Waguri';
}

.howto-bottom span {
  color: #FEC32F;
}


[class*="howto-bubble"] {
  position: absolute;
  background: no-repeat center / contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howto-bubble1 {
  top: 70px;
  left: 80px;
  width: 372px;
  height: 108px;
  background-image: url(../public/images/miner_bubbld1.png);
  padding: 0.3rem 1.5rem 0 0.6rem;
}

.howto-bubble2 {
  top: 100px;
  left: 652px;
  width: 506px;
  height: 94px;
  background-image: url(../public/images/miner_bubbld2.png);
  padding: 0.3rem 1rem 0 2.5rem;
}

.howto-bubble3 {
  top: 270px;
  left: 622px;
  width: 484px;
  height: 93px;
  background-image: url(../public/images/miner_bubbld3.png);
  padding: 0.3rem 1rem 0 1rem;
}

.howto-bubble1::after {
  content: '';
  position: absolute;
  top: 21px;
  right: -120px;
  width: 110px;
  height: 55px;
  border: 5px solid #BD0000;
  border-radius: 25px;
}

.howto-bubble1::before {
  content: '';
  position: absolute;
  top: 20px;
  right: -121px;
  width: 112px;
  height: 57px;
  border: 7px solid #fff;
  border-radius: 25px;
}

.howto-bubble2::after {
  content: '';
  position: absolute;
  top: 21px;
  left: -61px;
  width: 50px;
  height: 50px;
  border: 5px solid #BD0000;
  border-radius: 25px;
}

.howto-bubble2::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -62px;
  width: 52px;
  height: 52px;
  border: 7px solid #fff;
  border-radius: 25px;
}

[class*="howto-bubble"] .item {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 40px;
  background: no-repeat center / contain;
}

[class*="howto-bubble"] .dynamite {
  background-image: url(../public/images/dynamite_icon.png);
}

[class*="howto-bubble"] .potion {
  background-image: url(../public/images/potion_icon.png);
}

[class*="howto-bubble"] p {
  color: #111;
  line-height: 2.2rem;
  font-size: 1.6rem;
}

.howto-inner .closeButton {
  position: absolute;
  top: -46px;
  right: -26px;
  width: 70px; 
  height: 70px;
  border: none;  
  cursor: pointer;
  background: url(../public/images/miner_button_close.png) no-repeat center / contain;
}

.howto-inner .closeButton:hover{
  transform: scale(1.1);
}

.logo-container {
  background-color: #fff;
}

/* [class*="container"] {
  position: absolute; 
  top: 0; 
  left: 0; 
  display: flex; 
  width: 100%; 
  height: 100%;
}

.howto-container,
.quiz-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}



.howto-container.show,
.quiz-container.show {
  display: block;
}

.howto-container .closeButton{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.howto-container .closeButton::after {
  content: 'X';
}

[class*="inner"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.howto-inner {
  border: 3px solid #274D76;
  background-color: #D2E0F0 !important;
  flex-wrap: nowrap !important;
  flex-direction: column;
  width: 95%;
  padding: 0 !important;
  overflow: hidden;
}

.howto-image {
  width: 600px;
  border: 3px solid #B79EF6;
  border-radius: 1rem;
  overflow: hidden;
}

.howto-inner > p {
  text-align: center;
  padding: 2rem 2rem;
  background: #34679D;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

.howto-inner >p span {
  color: #FFEF9E;
}

.howto-top {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.howto-info li{
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 0.7rem;
}

.howto-info li span {
  color: #9C59C2;
}

.quiz-question{
  display: flex;
  gap: 1rem;
}

.quiz-question > .quiz-image {
  flex: 1;
  padding: 1rem;
}

.quiz-question > .quiz-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  font-size: 1.5rem;
}

.quiz-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.quiz-list > li {
  flex: 1;
  text-align: center;
  padding: 1rem;
  background-color: #33CCCC;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
}

.logoContainer {
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
} */